<div class = "asistencias" >
    <div class="tabla"> <!-- Contenido de la tabla -->
        <section class="home">
            <table id="tabla-asistencia"> <!-- Indica que la tabla tiene una id para referenciarla en JS-->
                <caption>Asistencia docentes</caption>
                <thead> <!-- Columnas de la tabla -->
                    <th>Nombre</th>
                    <th>Facultad</th>
                    <th>Asignatura</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Hora de entrada y salida</th>
                    <th>Asistencia</th>
                </thead>
                <!-- Datos de la tabla-->
                <tbody>
                </tbody>
            </table>
        </section>
        <div class="buttons">
            <button (click)="mensaje()">Enviar</button>
            <button (click)="importarXML()">Importar Datos Fijos (XML)</button>
            <button (click)="importarJSON()">Importar Datos Reales (JSON)</button>
        </div>
    </div>
</div>